@page
@model RestaurantBooking_Razor.Pages.LoginErrorModel
@{
    Layout = "Shared/RegisterLayout.cshtml";
}
<h1>Some error happen when processing your request, Please contact admin for this issue.</h1>
