@page
@model RestaurantBooking_Razor.Pages.UserErrorModel
@{
    Layout = "Shared/_Layout.cshtml";
}
<h1>Some error happen when processing your request, Please contact admin for this issue.</h1>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

